
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
    font-family: "Noto Nastaliq Urdu", serif;
    font-family: "Cinzel", serif;
}

.container{
	width: 100%;
	height: 100vh;
    background-image: linear-gradient(rgba(217, 194, 125, 0.248),rgba(215, 195, 116, 0.231)),url(images/b3.jpeg); 
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}
.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}
.logo{
	width: 80px;
	cursor: pointer;
}
.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 40px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}
nav ul li a{
	text-decoration: none;
	color:#91592a;
	font-size: 15px;
}
.row{
	display: flex;
	height: 80%;
	align-items: center;
}
.paragraphe{
   color : #91592a
}
.col{
	flex-basis: 50%;
    text-align: center;
    color : #91592a;
}
h1{
	color: #91592a;
	font-size: 100px;

}
p{
	color: #fff;
	font-size: 15px;
	line-height: 20px;
}
button{
	width: 100px;
	color: #4d2707;
	font-size: 15px;
	padding: 12px 0;
	background: #c49f5e;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top:30px;
  
}
.card{
	width: 200px;
	height: 270px;
	display: inline-block;
	border-radius: 10px;
	padding:10px 15px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover; 
	transition: transform 0.5s;
}
.card1{
background-image: url(images/b1.jpeg);	
}
.card2{
background-image: url(images/b2.jpeg);	
}
.card:hover{
	transform: translateY(-10px);
}
h2{
	color: #91592a;
	
	
}
.card p{
    color: #91592a;
	font-size: 15px;
}
@media screen and (max-width: 900px) {
    .container{
        width: 130%;
        height: 100vh;
        background-image: linear-gradient(rgba(217, 194, 125, 0.248),rgba(215, 195, 116, 0.231)),url(images/b3.jpeg); 
        background-position: center;
        background-size: cover;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
    }
}
